@charset "utf-8";
@import url("base.css"); 


.bg_transparent_switch{height: 30px;line-height: 30px;bottom: 0px;}
.switch_count{
	color: #fff;position: absolute;right: 5px;top: 0px;
}

.info_li{line-height: 25px;width: 100%;position: relative;clear: both;}

.info_title{padding:2px 10px;font-weight: bold;
line-height: 25px;color: #333;font-size: 14px;
}
.info_li .info_attr{color: #A6A6A7;font-size: 14px;float: left;padding-left: 10px;padding-right: 10px;}
/*2014-10-8 begin*/
.info_li_d{line-height: 25px;height:25px;width: 100%;position: relative;clear: both; font-weight:bold; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;}
.info_li_r{line-height: 25px;width: 100%;position: relative;clear: both; margin-top:1px; background-color:rgb(255, 204, 204); height:25px}
.info_attr_d{ width:50%;font-size: 14px;float: left; text-align:center; }
.info_val_d{ width:50%;font-size: 14px;float: left; text-align:center;}
/*end*/
.info_li .info_val{color: #333;font-size: 14px;float: left;overflow: hidden;height: 25px;}
.info_li .info_more{float: right;background: #E8E8E8;line-height: 25px;padding-left:5px;position: absolute;top: 2px;right: 2px;}

#info_price{color: #f60;font-weight: bold;font-size: 16px;}
.info_map{width: 100%;height: 150px;text-align: center;}
.info_map img{height: 130px;width: 320px;margin:10px auto;border:solid 1px #DBDBDB;}
.info_more .icon_arrow{
margin-top: 3px;
}

.info_h2{height: 25px;background: #E8E8E8;clear: both;}
.info_h2_title{line-height:25px;color: #333;padding: 0px 10px;}

[class*='info_h2_more']{ 
    display: block;
    float: right;
    height: 25px;cursor: pointer;
    line-height: 25px;text-align: center;padding-left: 10px;padding-right: 2px;color: #888}
[class*='info_box_btn']{ 
    display: block;position: absolute;right: 5px; font-weight: bold;
    height: 25px;font-size: 12px;border:solid 0px #F0F0F0;background: #F0F0F0;
    line-height: 25px;text-align: center;padding-left: 5px;padding-right: 10px;color: #888;position: relative;}
 
.info_h2_more [class*='icon_']{
    margin-top: 4px;margin-left: 4px;
}
.info_h2_more a:link{color: #888888}

.info_h2_more_tlf{ background:#FFA200;color: #fff;}

.info_li_text{line-height: 25px;padding-left: 10px;clear: both;}
.info_box{padding: 10px;line-height: 180%;position: relative;}
.info_box .info_content{
	overflow: hidden;
}
.info_box .btn_more{height: 20px;clear: both;}
.info_box_btn{
padding-right: 20px;float: right;cursor: pointer;	
}
.btn_more .icon_up,.btn_more .icon_down{
	position: absolute;right: 2px;top: 5px;
}
.count_down{font-style: oblique;font-weight: bold;color: #f30}
.house_list li{line-height: 35px;height: 35px;clear: both;overflow: hidden;padding-left: 15px;
border-bottom:solid 1px #eee}
.info_list li{line-height: 25px;height: 25px;clear: both;overflow: hidden;padding-left: 15px;}
.info_list li a:link{
	display: block;
}



/* 
#app_download_popup{
width:200px; 
height:80px;
padding:4px 10px 10px;
background-color:#FFFFFF;
border:1px solid #666;
color:#333333;
line-height:24px;
text-align:left;
-webkit-box-shadow:5px 2px 6px #000;
-moz-box-shadow:3px 3px 6px #555;
}  
*/

/***********下载开始************************/

#app_downloads{
   width:100%; 
   height:100%;
   background:#333; 
   opacity: 0.9; 
   position:absolute; 
   top:0px;
   filter:alpha(opacity=60);
   -moz-opacity:0.6; 
   display:none;
   z-index:1002111;
}
#app_download_popup{
	width:250px; 
	height:156px;
	line-height:24px;
	text-align:left;
	-webkit-box-shadow:0px 0px 0px;
	-moz-box-shadow:3px 3px 6px #555;
	position:fixed;
	margin:125px auto;
	position: relative;
	opacity:2.7;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
    border:none;
	background: url(../images/download1.png) 0px 0px no-repeat;
	background-size:auto 165px;
	z-index:1002;
}
#app_download_popup .link_btn{
	clear:both;
	height:35px;
	line-height:35px;
	margin-left:10px;
	margin-top:105px;
}
#app_download_popup .link_btn .turn_off{
	background: url("../images/hd/close_top_right.png")  no-repeat right top;
	background-size:25px 25px;
    position: absolute;
    right: 0;
    top: 0; height: 32px; 
    width: 32px;text-indent: -999em;
	opacity:2.7;
}
#app_download_popup .link_btn .yes_download{
	background: none repeat scroll 0 0 #0290F6;
	color:#ffffff;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #BBC1C1;
	border:1px solid #BBC1C1;
	 width: 90px;
	 height: 30px;
	 margin-left:15px;
	 opacity:2.7;
}
#app_download_popup .link_btn .no_download{
	background: none repeat scroll 0 0 #EBF0F3;
	border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #BBC1C1;
	border:1px solid #BBC1C1;
	width: 90px;
	height: 30px;
	margin-left:15px;
	opacity:2.7;
}
#app_download_popup .link_btn a:link,#app_download_popup .link_btn a:visited,.apply_btn{
    float: left;
    line-height: 30px;
    text-align: center;
}

/***********下载结束************************/



.bottom_apply_btn{
width:90%;margin:10px auto;height:35px;line-height:35px;background:#f60;color:#fff;text-align:center;
border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 3px #BBBBBB;
}

.fullad{
position: relative;
}
.fullad img{width:100%;height:100%;}

.fullad .app_down_close{
	height:50px;width:50px;margin:0px auto;display:block;position: absolute;top:40px;right:10px;overflow:hidden;
	
}
.fullad .app_download_btn{
	height:40px;width:60%;margin:0px auto;display:block;position: absolute;bottom:100px;left:20%;
	line-height:100px;overflow:hidden;
}
.fullad .bbs_app_close_btn{
	height:50px;width:220px;margin:0px auto;display:block;
	position: absolute;bottom:220px;right:10px;overflow:hidden;line-height:200px;overflow:hidden;
}
.fullad .bbs_app_down_btn{
	height:50px;width:220px;margin:0px auto;display:block;
	position: absolute;bottom:140px;right:10px;overflow:hidden;line-height:200px;overflow:hidden;
}
.fullad .bbs_app_open_btn{
	height:40px;width:150px;margin:0px auto;display:block;
	position: absolute;bottom:50px;left:120px;overflow:hidden;line-height:100px;overflow:hidden;
}