*.designer.cs
＃文本配置文件
＃*.txt
＃*.ini
＃网页
＃*.htm
＃*.js
Thumbs.db
＃执行文件
*.pdm
*.skn
*.rar
*.zip
*.lnk
*.obj
*.exe
*.chm
*.EXE
*.com
*.ocx
*.dll
*.frx
*.mdb
*.SCC
*.vbw
＃flash文件
*.swf
＃.fla
＃图片
*.jpg
*.bmp
*.gif
＃*.psd
*.png
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/