@charset "utf-8";
/* CSS Document */
.flashs{width:960px; height:348px; }
.wu{ background:none;}

/*fenlei*/
.fenlei{ width:208px;}
.fenlei .tits{ background: url(../images/tit2.gif) no-repeat; height:32px; line-height:32px; color:#fff6f4; padding-left:13px; font-size:15px; font-weight:bold; overflow:hidden; width:195px;}
.fenlei .nr{ border:1px solid #D8D8D8; border-top:0; background:#fff; height:442px; overflow:hidden; }
.fenlei h2{ height:26px; line-height:26px; overflow:hidden; padding-top:11px;}
.fenlei h2 a{ font-size:13px; background:url(../images/tit3.gif) no-repeat center; padding-left:14px; display:block; height:26px;}
.fenlei h3{height:36px; line-height:36px; overflow:hidden; font-size:12px; background:url(../images/h3bg.gif) repeat-x;}
.fenlei h3 a{  display:block; color:#5c6164; background: url(../images/ico5.gif) no-repeat 16px center; padding-left:27px;}
.uls2{ background:url(../images/fgx2.gif) no-repeat bottom; padding-bottom:12px;}
.uls2 li{height:32px; line-height:32px; overflow:hidden; padding-left:15px; background:url(../images/lili.gif) repeat-x bottom;}
.uls2 li a{ background:url(../images/ico4.gif) no-repeat left center; padding-left:9px; color:#3f3f3f;}
.uls3{ padding-top:6px;}
.uls3 li{height:31px; line-height:31px; overflow:hidden; background:url(../images/fgx2.gif) no-repeat bottom;  padding-left:15px;}
.uls3 li a{background:url(../images/ico3.gif) no-repeat left center; padding-left:14px; color:#4d4d4d; font-weight:bold;}
.lxfs{ height:172px; margin-top:11px;}

/*pro*/
.border{background:#Fff;}
.pro{ height:457px; overflow:hidden; margin-top:10px;}
.tjbt{ background:url(../images/aa3.gif) no-repeat; height:33px; border-bottom:1px solid #e1e1e1; line-height:33px; color:fffeff; font-weight:bold; padding-left:18px; overflow:hidden;}
.tjbt h4{ padding-top:11px; padding-right:9px;} 
.tjbt span{ color:#fefefe; padding-left:15px; font-size:14px;}
.title div a{ color:#fdfeff; }
.title h4{ padding-right:9px; padding-top:8px;}
.pro .nr{ height:422px; padding-left:25px; margin-bottom:18px;  border:1px solid #D8D8D8;  border-top:0;}
.dls{ height:180px; width:206px; overflow:hidden; float:left;margin-right:25px;  margin-top:19px; border:1px solid #e1e1e1; }
.dls dl{ position: relative; margin-top:20px;}
.dlsdi{ position:absolute; margin-top:13px; width:206px; height:6px;}
.dls dt{ width:204px; height:153px; line-height:0; font-size:0; }
.dls dt img{ width:204px;  height:153px; }
.dls dd a{ color:#5c6262; display:block; height:15px; line-height:15px; text-align: center; }


/*youshi*/
.ys{ margin-top:13px; }
.ysleft{ width:714px; position:relative;border:1px solid #dedede;height:848px; *height:861px; overflow:hidden; background:#fff;}
.ysbt{ position:absolute; margin-top:12px; margin-left:-4px;}
.yslist{ margin-top:76px; margin-left:12px; }
.yslist img{ margin-left:24px; }
.yslist sapn{ margin-left:-48px;}
.yslist h1{ margin-left:7px;}
.yslist p{ line-height:24px; font-size:14px; margin-top:12px; color:#5c6165; margin-left:26px;}
.yslist ul{}
.yslist li{ float:left; background:url(../images/lili.gif) repeat-x bottom; padding-bottom:2px; width:690px; margin-top:10px; }

.ysright{width:236px;  }
.ysr{  border:1px solid #e1e1e1; background:#fff;}
.ysrup{}
.ysrbt{ background:url(../images/ysrbtbg.gif) repeat-x; height:33px; line-height:33px; color:5b6063; font-weight:bold; padding-left:18px; overflow:hidden;}
.ysrbt h4{ padding-top:11px; padding-right:9px;} 
.ysrup ul{ margin-left:10px;  }
.ysrup li{float:left; background:url(../images/lili.gif) repeat-x bottom; padding-bottom:21px; padding-top:15px; width:212px;}

.ysrd{ margin-top:11px;}
.ys430{ height:430px;}
.ys401{ height:405px;}


/*kehu*/
/*kehu*/
.kehu{ width:744px; height:475px; overflow:hidden; float:right;}
.kehu .nr{ height:429px; padding-top:10px; overflow:hidden;border:1px solid #DEDCDC; border-top:0;}
.dls3{ padding:17px 0 5px 19px; width:655px; height:176px; overflow:hidden; float:left;}
.dls3 dt{ width:176px; height:176px; float:left;}
.dls3 dt img{ width:200px; height:158px;padding:6px; border:1px solid #DEDCDC; float:left;}
.dls3 dd{ float:left; padding-left:48px;_padding-left:20px; width:420px; line-height:22px; height:165px; overflow:hidden;}
.dls3 dd h5{ height:24px; line-height:24px; overflow:hidden;}
.yan{ padding-top:15px;}
.yan img{ padding-top:15px;}
.anlibt{ background:url(../images/anli.gif) no-repeat;}
.title1{ background:url(../images/aa2.gif) no-repeat; height:24px; color:#fffeff; font-weight:bold; padding-left:32px; overflow:hidden; font-size:14px;}
.title2{ background:url(../images/aa1.gif) no-repeat; height:24px; color:#fffeff; font-weight:bold; padding-left:32px; overflow:hidden; font-size:14px;}

.title1, .title2,.title3,.title4,.jsbt h4{ padding-top:11px; padding-right:9px;}
.zjsbk{ width:716px; height:413px; overflow:hidden;}
.zjcon{ padding-left:19px; padding-bottom:10px; padding-top:16px;border:1px solid #DEDCDC; border-top:0;}



.zjcon1{ padding-left:19px; height:716px; padding-bottom:10px; padding-top:16px;border:1px solid #DEDCDC; border-top:0;
background:url(../images/bd_bg.gif)}

.ling img{border:1px solid #e2e2e2; float:left; margin-right:16px; padding:6px;}
.dt img{ float:left; margin-right:16px; padding:6px;}
.zjcon p{ line-height:24px; padding-right:29px; color:#5e6263; } 
.zjcon .more{ border:none}

.gs{ margin-top:10px;}
.gs li{ float:left;   margin-right:12px; _margin-right:6px; position:relative; }
.gs li img{width:156px; height:122px; border:1px  solid #e4e4e2;padding:1px;}
.gs li span{ position:absolute; bottom:2px; height:20px; line-height:20px; left:0; width:156px;  margin:0 2px; text-align:center; filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6; background:#666; color:#fff;}
.went{ width:236px; width:234px; border:1px solid #e0e0e0; background:#fff;}

.subnr{ height:378px;}
.ico1{ padding:130px 0 0 11px;}

.went .subnr{ background:url(../images/fgx1.jpg) repeat-x top; height:377px; overflow:hidden;}
.uls7 li{ line-height:20px; padding:17px 20px 0 16px; height:95px; overflow:hidden;}
.uls7 li img{ margin-top:2px; margin-right:10px;}
.uls7 li p{ height:20px; overflow:hidden;}
.aa1{  overflow:hidden; color:#6b6b6b; padding-top:6px; height:60px;}
.uls7 li span{ color:#6b6b6b; font-size:14px; font-weight:bold; float:left; padding:0 7px 60px  0;}
.uls7 .lis{ height:115px}
.uls7 .lis .aa1{ height:80px; overflow:hidden;}
/*hang*/
.hang{ width:670px; overflow:hidden}
.hang .tits{ background:url(../images/tits2.gif) no-repeat;  height:26px; padding:1px 0 0 1px; overflow:hidden;  background:#ededed;}
.uls5 li{ float:left; width:103px; text-align:center; font-size:14px;}
.uls5 li a{ display:block; float:left; height:26px; line-height:26px; width:103px;}
.uls5 li a:hover, .uls5 .cur a{ background:url(../images/aa5.gif) no-repeat; text-decoration:none; color:#fff;}
.hang .subnr{ height:247px; overflow:hidden;	}
.dls5s{ height:110px; padding:13px 0 0 19px; overflow:hidden; background:url(../images/fgx1.gif) no-repeat center bottom;}
.dls5s dt{width:121px; height:94px;float:left;}
.dls5s dt img{ width:117px; height:90px; border:2px solid #E6E6E6; }
.dls5s dd{ padding-left:13px; width:285px; float:left; line-height:21px;overflow:hidden;}
.dls5s dd h4 a{ height:21px; overflow:hidden; color:#f00; display:block; }
.dls5s dd p{ height:63px; overflow:hidden; text-indent:2em; padding-top:4px;}
.uls6 li{ line-height:26px; height:26px; overflow:hidden; padding:0 20px; width:50%; float:left;}
.uls6 li a{ background:url(../images/ico3.gif) no-repeat 0 5px; padding-left:14px;}

.uls8{ padding:0 0 0 7px;}
.uls8 li{ width:295px; height:28px; line-height:28px; float:left; padding-right:30px; overflow:hidden }
.uls8 li a{ background:url(../images/dian.gif) no-repeat 0 5px; padding-left:14px; color:#5c6164;  }

.jsbt{ background:url(../images/ysrbtbg.gif) repeat-x; height:33px; line-height:33px; color:5b6063; font-weight:bold; padding-left:18px; font-size:14px; color:#5f6062; overflow:hidden;}
.jslist{ margin-top:16px; height:361px;}
.jslist li{ float:left; width:234px;overflow:hidden; height:31px; line-height:31px; border-bottom:1px dotted #e3e3e3;}
.jslist li a{ padding-left:26px;background:url(../images/dian.gif) no-repeat 17px 5px;}
.hu{ background:#ededed;}

/*link*/
.link{ background:url(../images/link_Bg.gif) no-repeat; height:120px; line-height:25px; overflow:hidden; }
.link a{ color:#666; font-size:12px; line-height:22px; }
.link h4{ width:860px; float:left; margin-left:10px;}
.link img{ float:left;}
.link h4 a{ color:#737373; padding:0 11px; line-height:22px; font-weight:normal; }





.anl{ width:710px; margin-left:8px; display:inline-block; background:url(../images/ico04.gif) no-repeat;}
.anl h4{ padding-left:45px; height:35px; padding-top:10px;}
.anl dl{ float:left; height:200px; margin-left:10px; width:165px; overflow:hidden;}
.anl dl dt img{border: 1px solid #DEDCDC;float: left; height: 120px; padding: 6px;width: 150px;}
.anl dl dd{ line-height:22px; height:22px; width:165px; text-align:center;} 


/**/
.anli{}
.anli .title1{padding-right: 9px; background:url(../images/aa3.gif) no-repeat; height:24px; color:#fffeff; font-weight:bold; padding-left:32px; overflow:hidden; font-size:14px; padding-top: 11px;}
.anli .dls5s{ height:110px; padding:13px 0 0 19px; overflow:hidden; background:url(../images/fgx1.gif) no-repeat center bottom;}
.anli .dls5s dt{width:121px; height:94px;float:left;}
.anli .dls5s dt img{ width:212px; height:170px; border:2px solid #E6E6E6; }
.anli .dls5s dd{ padding-left:13px; width:285px; float:left; line-height:21px;overflow:hidden;}
.anli .dls5s dd h4 a{ height:21px; overflow:hidden; color:#f00; display:block; }
.anli .dls5s dd p{ height:63px; overflow:hidden; text-indent:2em; padding-top:4px;}
.anli .anl{ width:952px; margin-left:8px; display:inline-block; background:url(../images/ico0anli.gif) no-repeat;}
.anli .anl h4{ padding-left:45px; height:35px; padding-top:10px;}
.anli .anl dl{ float:left; height:200px; margin-left:10px; width:165px; overflow:hidden;}
.anli .anl dl dt img{border: 1px solid #DEDCDC;float: left; height: 120px; padding: 6px;width: 150px;}
.anli .anl dl dd{ line-height:22px; height:22px; width:165px; text-align:center;} 

.anli .nr .dlsa{ padding:17px 0 5px 19px; /*width:655px;*/ height:182px; overflow:hidden; float:left;}
.anli .nr .dlsa dt{ width:226px; height:182px; float:left;}
.anli .nr .dlsa dt img{ width:212px; height:170px;padding:6px; border:1px solid #DEDCDC; float:left;}
.anli .nr .dlsa dd{ float:left; padding-left:48px;_padding-left:20px; width:620px; line-height:22px; height:165px; overflow:hidden;}
.anli .nr .dlsa dd h5{ height:24px; line-height:24px; overflow:hidden;} 
.anli .anlis{margin-left:30px;}





/**/
.tuijian{float: right; height: 475px; overflow: hidden; width: 744px;}
.tuijian .nr{ height:428px; padding-left:25px; padding-bottom:12px;  border:1px solid #D8D8D8;  border-top:0;}
.tuijian .tjbt{ background:url(../images/aa2.gif) no-repeat; height:33px; border-bottom:1px solid #e1e1e1; line-height:33px; color:#fffeff; font-weight:bold; padding-left:18px; overflow:hidden;}
.tuijian .dls{ height:180px; width:206px; overflow:hidden; float:left;margin-right:25px;  margin-top:29px; border:1px solid #e1e1e1; }
.tuijian .dls dl{ position: relative; margin-top:20px;}
.tuijian .dlsdi{ position:absolute; margin-top:13px; width:206px; height:6px;}
.tuijian .dls dt{ width:204px; height:153px; line-height:0; font-size:0; }
.tuijian .dls dt img{ width:204px;  height:153px; }
.tuijian .dls dd a{ color:#5c6262; display:block; height:15px; line-height:15px; text-align: center; }





			/*如果您想了解更多欧迈产品的详细资料*/
.zl {  width:960px; height:385px; margin-bottom:15px;}
.lx { padding:17px 0 0 25px; width:630px;}
.lx p { font-family:"微软雅黑"; font-size:20px; color:#003b8d; font-size:20px;}
.lx p span { color:#ff6600; display:block; font-size:16px;}

