@charset "utf-8";
/*黄色皮肤1*/
html{-webkit-text-size-adjust:none;}/*修正谷歌最小字号bug*/
*html .lrkf{position:absolute;}		/*修正IE6bug的，IE6不支持固定定位，这一句必须要。*/
.lrkf{width:110px;}					/*必须有一个合适的宽度，否则获取不到正确的宽度*/
.lrkfshow { right:0;}				/*这个不要动*/
.lrkf .lrkf a{}
.lrkf a:hover{color:#FF6600;}
.lrkf .lrkf_header{ height:44px; background:url(../images/skin.png) no-repeat 0 0; text-align:right;}
.lrkf .lrkf_box{ }
.lrkf .lrkf_header,.lrkf .lrkf_con,.lrkf .lrkf_tool a{}
.lrkf .lrkf_header,.lrkf .lrkf_con{ margin-top:0;}
.lrkf .lrkf_con{background:url(../images/skin.png) repeat-y right top; padding:3px 12px;}
.lrkf .lrkf_foot{height:32px;background:url(../images/skin.png) no-repeat left bottom;}
.lrkf .lrkf_btn{ display:none;}
.lrkf .lrkf_btn:hover{}
.lrkfshow .lrkf_btn{ }
#lrkf_x{ width:50%; height:20px; display:inline-block;*display:inline;*zoom:1;}