TH {FONT-SIZE: 12px;}

TD {FONT-SIZE: 12px; LINE-HEIGHT: 170%;WORD-BREAK: normal;}

ul,li,a,span{ padding:0; margin:0; list-style:none;font:12px "ו";}

img{border:0px;}

body{ font-size:12px; margin:0;color:#5d5d5d; line-height:20px; background:url(../images/bj.gif); height:100%; text-align:center; background:url(../images/bg.jpg) repeat-x}

.clear{clear:both;}

.bdx{ font-size:14px; font-weight:bold; color:#333; font-weight:bold;}
 
.navv{

	width:245px; margin:0px; padding:0px; border:#fff 0px; }

.navv ul{ width:245px;  margin:0px 0px 0px 0px; padding:0px; border:0px;}

.navv  ul li{width:245px; list-style-type:none; margin:0px 0px;float:left;}



.navv ul li a{display:block; color:#FFF;font-size:14px; text-align:center;line-height:26px; background:url(../images/dian.jpg) no-repeat left ;border-bottom:1px dashed #EBEBEB; padding-left:0px;margin:0px 0px;text-decoration:none;}

.navv ul li a:link{display:block; color:#333;line-height:28px;   }

.navv ul li a:visited{display:block; color:#333;line-height:28x; }

.navv ul li a:hover{display:block; color:#06C;font-weight:bold;line-height:28px; text-decoration:none;}

.navv ul li a:active{display:block; color:#333;line-height:28px; }



.box{ width:1002px; text-align:center; margin:0 auto; overflow:hidden}



.top{ width:1002px; margin:0 auto; background:url(../images/top.jpg) no-repeat}

.logo{ width:538px; height:89px; float:left;}

.shoucang{ width:293px; height:106px; float:right; background:url(../images/shoucang.jpg) no-repeat; padding-top:10px}

.shoucang a{ color:#666; text-decoration:none}

.shoucang a:hover{ text-decoration:underline}

.guanjianci{ width:550px; height:20px; float:left; text-align:left;}


.nav{ width:960px; height:38px; clear:both; background:url(../images/nav.jpg) no-repeat; padding:3px 0 0 10px; margin-top:3px}

.nav ul li{ width:98px; float:left;}

.nav ul li a{  color:#fff; text-decoration:none; font-size:14px; font-weight:bold; width:90px; height:35px; padding-top:10px; display:block}

.nav ul li a:hover{ text-decoration:underline}



.banner{ clear:both; width:1002px; margin-top:10PX}



.shang{ width:1002px; margin:0 auto; margin-top:10px; overflow:hidden}

.tupian{ width:250px; float:left; height:170px}



.news{ width:395px; float:left; height:200px;  margin:0 10px}

.news table{ margin-left:0px}

.news a{ color:#666666; text-decoration:none}

.news a:Hover{ color:#0066FF; text-decoration:underline}



.about{ width:282px; float:left}

.about span{ text-indent:2em; line-height:21px}



.marquee{ width:985px; clear:both; margin:0 auto}



.xia{ width:1002px; margin:0 auto; margin-top:10px; overflow:hidden}



.xiaoshou{ width:263px; height:238px; float:left}



.jishu{ width:377px; float:left; height:225px;  margin:0 10px 0 20px}

.jishu table{ margin-top:7px}

.jishu a{ color:#666666; text-decoration:none}

.jishu a:Hover{ color:#0066FF; text-decoration:underline}



.contact{ width:300px; float:right; height:200px; background:url(../images/contactbg.jpg) no-repeat}

.lianxi{ width:270px; text-align:left; line-height:23px; margin:0 auto}



.lianjie{ width:1002px; margin:0 auto; text-align:left; padding-left:10px; }







.left{ width:250px; float:left;}

.right{ width:730px; float:right;}



.contact1{ width:250px; float:right; height:200px; background:url(../images/contact1bg.jpg) no-repeat; margin-top:10px}

.lianxi1{ width:240px; text-align:left; line-height:23px; margin:0 auto}



.list{ width:250px; float:left; height:auto;}

.list a{ font-size:14px; text-decoration:none; text-decoration:none; color:#666666}

.list a:hover{ text-decoration:underline; color:#0066CC}

.list table{ margin-left:20px}



.infot{ width:730px; height:40px; background:url(../images/infot.jpg) no-repeat; padding:3px 0 0 10px}



.infod a{ text-decoration:none; text-decoration:none; color:#666666}

.infod a:hover{ text-decoration:underline; color:#0066CC}



.lianjie a{ text-decoration:none; color:#666666;}

.lianjie a:Hover{ text-decoration:underline; color:#0066FF}









.foot{ width:100%; height:96px; background:url(../images/foot.jpg) repeat-x; clear:both; padding-top:15px; line-height:30px}

.foot a{ text-decoration:none; color:#666666;}

.foot a:Hover{ text-decoration:underline; color:#0066FF}

.down{ width:1002px; margin:0 auto; line-height:40px}





